/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

/* CSS Variables */
:root {
  /* Common variables */
  --header-height: 20px;
  --body-font: "Syne", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --z-fixed: 100;
  --z-modal: 1000;
  --error-color: hsl(352, 100%, 58%);
  --error-color-light: hsl(352, 70%, 54%);
  --white: hsl(0, 0%, 100%);
  --transition-speed: 0.3s;
  --auth-max-width: 400px;
  --auth-padding: 2rem;
  --auth-border-radius: 1rem;

  /* Light mode colors */
  --text-color: hsl(34, 44%, 7%);
  --bg-color: hsl(40, 50%, 98%);
  --primary-color:hsl(34, 52%, 53%);
  --secondary-color: hsl(33, 55%, 72%);
  --accent-color: hsl(34, 59%, 63%);

  --container-color: hsl(40, 16.67%, 92.94%);
  --secondary-color-blur: hsla(33, 55%, 72%, 0.4);
  --background-color-blur: hsla(40, 50%, 98%, 0.4);
  --text-color-light: hsl(30, 50%, 1%);
}

/* Dark mode colors */
[data-theme="dark"] {
  --text-color: hsl(34, 19%, 93%);
  --bg-color: hsl(30, 24%, 7%);
  --primary-color:hsl(34, 25%, 75%);
  --secondary-color: hsl(34, 27%, 33%);
  --accent-color: hsl(34, 30%, 57%);

  --container-color: hsl(30, 14%, 11%);
  --secondary-color-blur: hsla(34, 27%, 33%, 0.4);
  --background-color-blur: hsla(30, 24%, 7%, 0.4);
  --text-color-light: hsl(0, 0%, 100%);




  /* --body-color: hsl(30, 24%, 7%);
  --text-color: 	hsl(34, 19%, 93%);
  --first-color:hsl(34, 25%, 75%);
  --title-color: hsl(34, 27%, 33%);
  --border-color: hsl(34, 30%, 57%);

  --container-color: hsl(30, 14%, 11%) ; */

  /* --first-color: hsl(230, 75%, 56%);
  --title-color: hsl(230, 75%, 95%);
  --text-color: 	hsl(34, 19%, 93%);
  --body-color: hsl(230, 25%, 15%);
  --container-color: hsl(230, 25%, 20%);
  --border-color: hsl(230, 25%, 30%); */
}

/* Base styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color .3s ease, color .3s ease;
}

input,
button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Reusable classes */
.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 15px;
}



/* Add other global styles here */

/* Media queries */
@media screen and (min-width: 1023px) {
  :root {
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
}