/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

/* CSS Variables */
:root {
  /* Common variables */
  --header-height: 20px;
  --body-font: "Syne", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --z-fixed: 100;
  --z-modal: 1000;
  --error-color: hsl(352, 100%, 58%);

  /* Light mode colors */
  --first-color: hsl(230, 75%, 56%);
  --title-color: hsl(230, 75%, 15%);
  --text-color: hsl(230, 12%, 40%);
  --body-color: hsl(230, 100%, 98%);
  --container-color: hsl(230, 100%, 97%);
  --border-color: hsl(230, 25%, 80%);
}

/* Dark mode colors */
[data-theme="dark"] {
  --first-color: hsl(230, 75%, 56%);
  --title-color: hsl(230, 75%, 95%);
  --text-color: hsl(230, 12%, 75%);
  --body-color: hsl(230, 25%, 15%);
  --container-color: hsl(230, 25%, 20%);
  --border-color: hsl(230, 25%, 30%);
}

/* Base styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color .3s ease, color .3s ease;
}

input,
button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Reusable classes */
.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Add other global styles here */

/* Media queries */
@media screen and (min-width: 1023px) {
  :root {
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
}